# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Friday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [20]:
lst = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
dic={}
for i in lst:
    dic[i[0]]=i[1]
print(dic)
N=int(input("Enter N: "))
tot=0
for i in range(N):
    inp = input("Enter item and quantity space seprated: ").split(" ")
    print(inp)
    tot+=dic[inp[0]]*int(inp[1])
print("The Total Cost is: ", tot)

{'watch': 5000, 'phone': 10000, 'laptop': 50000, 'shirt': 1000}
Enter N: 1
Enter item and quantity space seprated: laptop 1
['laptop', '1']
The Total Cost is:  50000

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [19]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6 6

#### 3. Write a Python program to find the repeated items of a tuple.

In [21]:
tup = (10,20,10)
for i in tup:
    if tup.count(i)>1:
        print(i)

10
10

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [23]:
lst= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

lst2 = [i[:-1]+(500,) for i in lst]
print(lst2)

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]